HOST=localhost
PORT=3001

NEXT_APP_ENV=local
NEXT_PUBLIC_BASE_URL=https://tyrrewards.com
NEXT_PUBLIC_CANONICAL_URL=https://tyrrewards.com/

#===============PUBLIC ENV===============# 
# These environment variables will be exposed to the browser.

# Tyrads API URL
NEXT_PUBLIC_API_URL=https://app.tyrrewards.net/api/

# Tyrads SDK
NEXT_PUBLIC_TYRADS_SDK_API_KEY=
NEXT_PUBLIC_TYRADS_SDK_API_SECRET=
NEXT_PUBLIC_TYRADS_SDK_USER_ID=

# Firebase config
NEXT_PUBLIC_FIREBASE_API_KEY=
NEXT_PUBLIC_FIREBASE_PROJECT_ID=
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=

# Facebook Pixel config
NEXT_PUBLIC_FACEBOOK_PIXEL_ID=

# Tyrrewards Acmosoft config
NEXT_PUBLIC_TYR_REWARDS_ACMOSOFT=

# SDK Logger API URL
NEXT_PUBLIC_SDK_LOGGER_TYRADS=

# Amplitude config for Prod
NEXT_PUBLIC_TYRADS_AMPLITUDE_API_KEY=

# Amplitude config for Staging
NEXT_PUBLIC_TYRADS_AMPLITUDE_API_KEY_STG=


# Verisoul web config
NEXT_PUBLIC_TYRADS_VERISOUL_PROJECT_ID=

# Google Tag Manager config
NEXT_PUBLIC_GTM_ID=GTM-PFTV9BD

# Appsflyer config
NEXT_PUBLIC_APPSFLYER_WEB_KEY=


#===============PRIVATE ENV===============#
# These environment variables will not be exposed to the browser

# NextAuth config
NEXTAUTH_URL=http://$HOST:$PORT/
NEXTAUTH_SECRET=ZqKYXLq6UmGUnFD3J64nrZGvQ9pQtXf8C5p1gZluROk=

# Firebase config
FIREBASE_CLIENT_EMAIL=
FIREBASE_PRIVATE_KEY=
FIREBASE_AUTH_DOMAIN=
FIREBASE_STORAGE_BUCKET=
FIREBASE_MESSAGING_SENDER_ID=
FIREBASE_APP_ID=
FIREBASE_MEASUREMENT_ID=
NEXT_PUBLIC_FIREBASE_APP_ID=
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=
NEXT_PUBLIC_FIREBASE_MEASUREMENT_ID=
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=

# Google OAuth config
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# Apple OAuth config Prod
NEXT_PUBLIC_APPLE_CLIENT_ID=
NEXT_PUBLIC_APPLE_SECRET=

# Apple OAuth config Staging
NEXT_PUBLIC_APPLE_CLIENT_ID_STG=
NEXT_PUBLIC_APPLE_SECRET_STG=

# Sentry config
NEXT_PUBLIC_SENTRY_AUTH_TOKEN=
