{
  "arrowParens": "avoid",
  "bracketSpacing": true,
  "overrides": [
    {
      "files": "*.json",
      "options": {
        "parser": "json"
      }
    }
  ],
  "plugins": ["prettier-plugin-tailwindcss"],
  "printWidth": 120,
  "singleQuote": true,
  "trailingComma": "all"
}
